
.activityRow:nth-child(even) {
    background-color: lightgray;
}

.newActivity {
    width: 20%;
}
td {
    padding: 0.5em;
}


td:nth-child(even), th:nth-child(even) { 
    /* border-left: 1px solid black; */
    padding-left: 2em;
}

th {
    position: sticky;
    top: 60px;
    padding: 1em 1em 1em 0em;
    background-color: white;
}

main {
    margin-top: 65px;
}